.feature-card h2{
color:#d4af37;
margin-bottom:15px;
}

/* MENU SECTION */

.menu-section{
padding:120px 8%;
background:#111;
text-align:center;
}

.section-title{
font-size:50px;
font-family:'Playfair Display',serif;
color:#d4af37;
margin-bottom:50px;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.menu-card{
background:#1a1a1a;
border-radius:20px;
overflow:hidden;
transition:.4s;
}

.menu-card:hover{
transform:translateY(-10px);
box-shadow:0 10px 30px rgba(212,175,55,.25);
}

.menu-card img{
width:100%;
height:220px;
object-fit:cover;
}

.menu-content{
padding:20px;
}

.menu-content h3{
margin-bottom:10px;
}

.menu-content p{
color:#bbb;
line-height:1.6;
margin-bottom:15px;
}

.price{
color:#d4af37;
font-size:22px;
font-weight:600;
}

/* GALLERY */

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.gallery-grid img{
width:100%;
border-radius:20px;
}

/* MOBILE */

@media(max-width:768px){

nav ul{
display:none;
}

.hero-content h1{
font-size:50px;
}

.hero-content p{
font-size:14px;
}

.section-title{
font-size:35px;
}

}
